ase>=3.20.1           
matplotlib>=3.3.2     
networkx>=2.5         
numpy>=1.19.2         
pandas>=1.1.4         
recommonmark>=0.6.0   
scipy>=1.5.3        
seaborn>=0.11.0    
spglib>=1.16.0     
voila
nbsphinx
sphinxcontrib-napoleon
sphinx_rtd_theme
sphinx-markdown-tables
nglview
